{% set p = section | default(value=page) %}
{% set title = p.title | default(value="Home") %}
{% set description = p.description | default(value="") %}
{% set full_title = title ~ " ⋅ " ~ "Diana & Jon" %}
<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="{{ description }}" />
  <!--<link rel="icon" type="image/svg+xml" href="{{ config.extra.icon }}" />-->
  <meta property="og:title" content="{{ full_title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="{{ config.extra.site_name }}" />
  <meta property="og:url" content="{{ current_url }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ full_title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:url" content="{{ current_url }}" />
  <meta name="twitter:card" content="summary" />
  <title>{{ full_title }}</title>
  <link rel="stylesheet" href="{{ get_url(path='site.css', trailing_slash=false, cachebust=true) | safe }}" media="all" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap"">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&display=swap"">
  <!--<script src="{{ get_url(path='theme.js', trailing_slash=false) | safe }}"></script>  -->
  <style>
    * {
      --primary: {{ config.extra.primary_color }};

      --accent: {{ config.extra.accent_color }};
    }
  </style>



</head>

<section class="illus"></section>
  <header>
    <div class="title-container">
     <h1><a href="/">{{ config.extra.site_name }}</a></h1>
    </div>
    <ul class="main-list" style="margin-bottom: 0px">
      <li class="main-list underline-on-hover"><a href="/">Home</a></li>
      <li class="main-list underline-on-hover"><a href="/wedding-party">Wedding Party</a></li>
      <li class="main-list underline-on-hover"><a href="/our-story">Our Story</a></li>
      <li class="main-list underline-on-hover"><a href="/schedule">Schedule</a></li>
      <li class="main-list underline-on-hover"><a href="/accommodations">Accommodations</a></li>
      <li class="main-list underline-on-hover"><a href="/registry">Registry</a></li>
      <li class="main-list underline-on-hover"><a href="/rsvp">RSVP</a></li>
     </ul>
     <div class="header-line"></div>
  </header>
<body>

  <main>
    {% block content %}{% endblock content %}
  </main>
</body>
<footer>
  ❤ Crafted with love by Jon<br>
  Issues with the site? Send us an <a href="mailto:dianajonwedding2024@gmail.com">email</a>.
</footer>

</html>
